.AddTask{
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px orange;
    width: 650px;
    padding: 20px;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 3px;
}
button{
    width: 120px;
    height: 30px;
    background: gold;
    border-radius: 3px;
    margin-left: 10px;
}